<a href="https://colab.research.google.com/github/Chromis07/dataStudy/blob/main/2019%EB%85%84_%EC%A7%80%EC%97%AD%EB%B3%84_%EA%B5%90%ED%86%B5%EC%82%AC%EA%B3%A0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EB%B0%8F_%EC%8B%9C%EA%B0%81%ED%99%94(%EA%B3%A0%EC%96%91%EC%8B%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import plotly.express as px
import pandas as pd

데이터 준비하기

In [ ]:
df = pd.read_csv('/content/도로교통공단_교통사고 정보.csv', encoding='euc-kr')
df.head()

    발생년      발생년월일시 주야 요일  ...  발생위치X_UTMK  발생위치Y_UTMK          경도         위도
0  2019  2019010100  야  화  ...   1150507.0   1685987.0  129.152465  35.157884
1  2019  2019010103  야  화  ...    943018.0   1921233.0  126.857149  37.288292
2  2019  2019010116  주  화  ...   1100414.0   1739893.0  128.609230  35.650108
3  2019  2019010119  야  화  ...    989194.0   1817621.0  127.379560  36.355946
4  2019  2019010121  야  화  ...   1127700.0   1767912.0  128.915041  35.899506

[5 rows x 23 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         3233 non-null   int64
 1   발생년월일시      3233 non-null   int64
 2   주야          3233 non-null   object
 3   요일          3233 non-null   object
 4   사망자수        3233 non-null   int64
 5   부상자수        3233 non-null   int64
 6   중상자수        3233 non-null   int64
 7   경상자수        3233 non-null   int64
 8   부상신고자수      3233 non-null   int64
 9   발생지시도       3233 non-null   object
 10  발생지시군구      3233 non-null   object
 11  사고유형_대분류    3233 non-null   object
 12  사고유형_중분류    3233 non-null   object
 13  사고유형        3233 non-null   object
 14  가해자법규위반     3233 non-null   object
 15  도로형태_대분류    3233 non-null   object
 16  도로형태        3233 non-null   object
 17  가해자_당사자종별   3233 non-null   object
 18  피해자_당사자종별   3233 non-null   object
 19  발생위치X_UTMK  3233 non-null   float64
 20  발생위치Y_UTMK  3233 non-null   float64
 21  경도          3233 non-null   float64
 22  위도          3233 non-null   float64
dtypes: float64(4), int64(7), object(12)
memory usage: 581.1+ KB

교통사고 시간 전처리

In [ ]:
# Substr 문자열 자르기를 위해 데이터타입 변경
df = df.astype({'발생년월일시' : 'string'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         3233 non-null   int64
 1   발생년월일시      3233 non-null   string
 2   주야          3233 non-null   object
 3   요일          3233 non-null   object
 4   사망자수        3233 non-null   int64
 5   부상자수        3233 non-null   int64
 6   중상자수        3233 non-null   int64
 7   경상자수        3233 non-null   int64
 8   부상신고자수      3233 non-null   int64
 9   발생지시도       3233 non-null   object
 10  발생지시군구      3233 non-null   object
 11  사고유형_대분류    3233 non-null   object
 12  사고유형_중분류    3233 non-null   object
 13  사고유형        3233 non-null   object
 14  가해자법규위반     3233 non-null   object
 15  도로형태_대분류    3233 non-null   object
 16  도로형태        3233 non-null   object
 17  가해자_당사자종별   3233 non-null   object
 18  피해자_당사자종별   3233 non-null   object
 19  발생위치X_UTMK  3233 non-null   float64
 20  발생위치Y_UTMK  3233 non-null   float64
 21  경도          3233 non-null   float64
 22  위도          3233 non-null   float64
dtypes: float64(4), int64(6), object(12), string(1)
memory usage: 581.1+ KB

In [ ]:
# 2019010100 -> 00 시간으로 분리
df['발생시간'] = df['발생년월일시'].str[8:]

In [ ]:
# 발생시간 숫자 데이터타입으로 변경
df = df.astype({'발생시간' : 'int64'})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3233 entries, 0 to 3232
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         3233 non-null   int64
 1   발생년월일시      3233 non-null   string
 2   주야          3233 non-null   object
 3   요일          3233 non-null   object
 4   사망자수        3233 non-null   int64
 5   부상자수        3233 non-null   int64
 6   중상자수        3233 non-null   int64
 7   경상자수        3233 non-null   int64
 8   부상신고자수      3233 non-null   int64
 9   발생지시도       3233 non-null   object
 10  발생지시군구      3233 non-null   object
 11  사고유형_대분류    3233 non-null   object
 12  사고유형_중분류    3233 non-null   object
 13  사고유형        3233 non-null   object
 14  가해자법규위반     3233 non-null   object
 15  도로형태_대분류    3233 non-null   object
 16  도로형태        3233 non-null   object
 17  가해자_당사자종별   3233 non-null   object
 18  피해자_당사자종별   3233 non-null   object
 19  발생위치X_UTMK  3233 non-null   float64
 20  발생위치Y_UTMK  3233 non-null   float64
 21  경도          3233 non-null   float64
 22  위도          3233 non-null   float64
 23  발생시간        3233 non-null   int64
dtypes: float64(4), int64(7), object(12), string(1)
memory usage: 606.3+ KB

In [ ]:
# 2019010100 추출 -> 2019-01-01 (날짜형태 YYYY-MM-DD 형태로 변경)
df['발생년월일시'] = pd.to_datetime(df['발생년월일시'].str[:8], 
                              format = '%Y-%m-%d', errors='raise')

In [ ]:
df.head()

    발생년     발생년월일시 주야 요일  ...  발생위치Y_UTMK          경도         위도  발생시간
0  2019 2019-01-01  야  화  ...   1685987.0  129.152465  35.157884     0
1  2019 2019-01-01  야  화  ...   1921233.0  126.857149  37.288292     3
2  2019 2019-01-01  주  화  ...   1739893.0  128.609230  35.650108    16
3  2019 2019-01-01  야  화  ...   1817621.0  127.379560  36.355946    19
4  2019 2019-01-01  야  화  ...   1767912.0  128.915041  35.899506    21

[5 rows x 24 columns]

1. 고양시 데이터 불러오기

In [ ]:
df_goyang = df[df.발생지시군구 == '고양시']
df_goyang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 44 to 3193
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         38 non-null     int64
 1   발생년월일시      38 non-null     datetime64[ns]
 2   주야          38 non-null     object
 3   요일          38 non-null     object
 4   사망자수        38 non-null     int64
 5   부상자수        38 non-null     int64
 6   중상자수        38 non-null     int64
 7   경상자수        38 non-null     int64
 8   부상신고자수      38 non-null     int64
 9   발생지시도       38 non-null     object
 10  발생지시군구      38 non-null     object
 11  사고유형_대분류    38 non-null     object
 12  사고유형_중분류    38 non-null     object
 13  사고유형        38 non-null     object
 14  가해자법규위반     38 non-null     object
 15  도로형태_대분류    38 non-null     object
 16  도로형태        38 non-null     object
 17  가해자_당사자종별   38 non-null     object
 18  피해자_당사자종별   38 non-null     object
 19  발생위치X_UTMK  38 non-null     float64
 20  발생위치Y_UTMK  38 non-null     float64
 21  경도          38 non-null     float64
 22  위도          38 non-null     float64
 23  발생시간        38 non-null     int64
dtypes: datetime64[ns](1), float64(4), int64(7), object(12)
memory usage: 7.4+ KB

2. 교통사고 발생시간 별 사망자 현황

In [ ]:
fig = px.bar(df_goyang, x='사망자수', y= '발생시간', orientation='h', 
             title='대구 교통사고 발생시간 별 / 구 별 사망자 현황')
fig.show()

3. 사망자수, 부상자수, 중상자수, 경상자수 전처리 (float 형변환)

In [ ]:
# 지도에 마커를 그리려면 int가 아닌 float로 변환 필요
df_goyang = df_goyang.astype({'사망자수' : 'float64'})
df_goyang = df_goyang.astype({'경상자수' : 'float64'})
df_goyang = df_goyang.astype({'중상자수' : 'float64'})
df_goyang = df_goyang.astype({'부상자수' : 'float64'})

In [ ]:
df_goyang.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38 entries, 44 to 3193
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   발생년         38 non-null     int64
 1   발생년월일시      38 non-null     datetime64[ns]
 2   주야          38 non-null     object
 3   요일          38 non-null     object
 4   사망자수        38 non-null     float64
 5   부상자수        38 non-null     float64
 6   중상자수        38 non-null     float64
 7   경상자수        38 non-null     float64
 8   부상신고자수      38 non-null     int64
 9   발생지시도       38 non-null     object
 10  발생지시군구      38 non-null     object
 11  사고유형_대분류    38 non-null     object
 12  사고유형_중분류    38 non-null     object
 13  사고유형        38 non-null     object
 14  가해자법규위반     38 non-null     object
 15  도로형태_대분류    38 non-null     object
 16  도로형태        38 non-null     object
 17  가해자_당사자종별   38 non-null     object
 18  피해자_당사자종별   38 non-null     object
 19  발생위치X_UTMK  38 non-null     float64
 20  발생위치Y_UTMK  38 non-null     float64
 21  경도          38 non-null     float64
 22  위도          38 non-null     float64
 23  발생시간        38 non-null     int64
dtypes: datetime64[ns](1), float64(8), int64(3), object(12)
memory usage: 8.7+ KB

4. 지도에 필요한 정보만 담기 -> 고양시의 교통사고 현황을 지도에 표출

In [ ]:
import folium

map = folium.Map(location=[37.68161936782737, 126.75529740984608]) # 일산 성저공원 좌표
map

for n in df_goyang.index :
  cnt = df_goyang['사망자수'][n]+ df_goyang['경상자수'][n] # 사망자수 + 경상자수 -> CircleMarker 사이즈
  folium.CircleMarker([df_goyang['위도'][n], df_goyang['경도'][n]],
                       radius =cnt*10, popup=df_goyang['사고유형'][n], color='#3186cc',
                      fill_color='#3186cc').add_to(map)
map.save('고양시교통사고현황.html')